body{
  background-color: black;
  margin: 0px;
}
#main-view{
  background-color: black;
  background-image: url("../images/test.png");
  background-position: center;
  margin: 0px;
}
section {
  height: 100vh;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form {
  min-width: 400px;
  text-align: center;
  display: none;
  
}


#login-form {
  min-width: 400px;
  text-align: center;
}

#user-profile {
  display:none;
  min-width:400px;
}