#page3 {
    background-color: rgb(174, 8, 8);
    .background-title {
      position: fixed;
      background-color: rgb(174, 8, 8);
      width: 100vw;
      height: 100px;
      z-index: 100;
    }
    .title {
      color: white;
      position: fixed;
      top: 30px;
      width: 40px;
      font-size: 80px;
      rotate: -10deg;
    }
    .background-IM {
      position: fixed;
      margin: 5px 0px 0px 10px;
      top: 0;
      left: 0;
      -webkit-text-stroke-width: 15px;
      -webkit-text-stroke-color: black;
      z-index: 1;
    }
    #IM {
      margin: 5px 0px 0px 10px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
    }
    .add-btn-container {
      background-color: white;
      padding: 5px;
      position: absolute;
      top: 40px;
      right: 20px;
      z-index: 10000;
      clip-path: polygon(13% 9%, 100% 0%, 85% 88%, 0% 100%);
    }
    .add-btn {
      background-color: black;
      padding: 5px;
      clip-path: polygon(13% 9%, 100% 0%, 85% 88%, 0% 100%);
    }
    .messages-container {
      padding: 20px;
      overflow-y: auto;
      scrollbar-color: #760101 #580303;
      scrollbar-width: thin;
    }
    .messages {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      padding: 15px;
      margin-bottom: 150px;
    }
  
    .message {
      display: grid;
      grid-template-columns: 70px auto;
      color: #fff;
      margin-bottom: 0px;
      padding: 10px 5px;
      position: relative;
    }
    .NEW::before {
      content: "NEW";
      clip-path: polygon(0 0, 100% 0, 86% 92%, 18% 93%);
      background-color: white;
      color: red;
      padding: 2px 5px;
      position: absolute;
      left: 0px;
      top: 5px;
      rotate: -10deg;
      font-size: 13px;
      z-index: 2;
    }
    .NEW {
      /*la les changements blabla*/
    }
    .OLD {
      color: gray;
    }
  
    .username-background {
      position: absolute;
      left: 55px;
      top: -5px;
      font-family: "Earwig factory";
      padding: 2px;
      font-size: 27px;
      -webkit-text-stroke: 8px black;
      z-index: 11;
    }
    .username {
      position: absolute;
      left: 55px;
      top: -5px;
      font-family: "Earwig factory";
      color: rgb(255, 255, 255);
      padding: 2px;
      font-size: 27px;
      z-index: 12;
    }
  
    .pp-container {
      display: flex;
      width: 70px;
      height: 50px;
      justify-content: center;
      align-items: center;
      clip-path: polygon(0 0, 92% 17%, 99% 86%, 12% 100%);
      background-color: white;
      padding: 2px;
      rotate: -7deg;
    }
    .pp {
      width: 50px;
      height: 40px;
      clip-path: polygon(0 0, 92% 17%, 99% 86%, 12% 100%);
    }
    .content {
      word-break: break-all;
      font-size: 12px;
      position: relative;
      clip-path: polygon(0 16%, 100% 0, 91% 100%, 6% 86%);
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 5px 20px;
      background-color: #000000b1; /* Très sombre rouge, presque noir */
      max-width: 100vw;
      z-index: 10;
    }
  
    .content1 {
      clip-path: polygon(0 21%, 89% 0, 95% 97%, 6% 88%);
      font-size: 12px;
      position: relative;
      display: flex;
      align-items: center;
      top: -43px;
      width: 100%;
      height: 100%;
      padding: 5px 20px;
      rotate: 5deg;
      background-color: #000000b1; /* Très sombre rouge, presque noir */
      max-width: 100vw;
    }
  
    .nbr-posts {
      color: rgb(195, 194, 194);
      font-size: 10px;
      direction: rtl;
      display: flex;
      align-items: center;
    }
  }