@font-face {
  font-family: "Earwig factory";
  src: url(../refs/earwig\ factory\ rg.otf);
}

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
  -ms-touch-action: none;
  user-select: none;
  overscroll-behavior-y: contain;
}

body {
  /* overflow: hidden; */
  /* width: 100vw; */
  height: 100vh;
  /* display: flex; */
  /* margin: 0px; */
}

hr {
  position: relative;
  justify-self: center;
  width: 330px;
  bottom: 15px;
  border: red solid 1px;
}
.container {
  /* display: flex; */
  /* width: 400vw; */
  height: 100vh;
  transition: transform 0.5s ease;
}

.page {
  /* width: 100vw; */
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

button {
  padding: 8px;
  background-color: rgb(244, 102, 138);
  border-color: rgb(240, 38, 89);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  width: 80vw;
}

button:active {
  background-color: rgb(197, 81, 110);
}

a {
  text-decoration: none;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-icons {
  clip-path: polygon(6% 6%, 92% 0, 97% 96%, 8% 90%);
  background-color: black;
  display: flex;
  padding: 10px 30px;
  gap: 10px;
  -webkit-tap-highlight-color: transparent;
  z-index: 12;
}

.icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}
.icon.active {
  transform: scale(1.4);
}

.nav-border {
  clip-path: polygon(6% 6%, 92% 0, 98% 96%, 7% 90%);
  background-color: white;
  position: fixed;
  width: 260px;
  height: 60px;
  bottom: 5px;
  z-index: 11;
}

.nav-shadow {
  box-shadow: -1px 72px 281px 150px rgba(0, 0, 0, 0.79);
  position: absolute;
  width: 100%;
}

#nbr-notif-IM {
  pointer-events: none;
  color: red;
  background-color: white;
  position: fixed;
  margin-left: 100px;
  rotate: -7deg;
  z-index: 100;
}
#nbr-notif-notif {
  pointer-events: none;
  color: red;
  background-color: white;
  position: fixed;
  margin-left: 140px;
  rotate: -7deg;
  z-index: 100;
}
#icon {
  width: 40px;
  height: 40px;
}
