@media screen and (max-device-width: 767px) and (max-width: 767px) {
}

@media screen and (min-device-width: 768px) and (min-width: 768px) {
  /*PC*/
  body {
    margin: 0px;
    background-image: url(images/cercleqRougesTst.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .grid {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto;
  }
  #phansiteLogo {
    width: 450px;
    margin-top: 60px;
    z-index: 100;
  }
  header {
    align-items: baseline;
    display: flex;
    justify-content: center;
  }
  #dechire {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: welcome 1s cubic-bezier(0.33, 0.98, 0, 1);
  }
  @keyframes welcome {
    from {
      left: 1000px;
    }
    to {
      left: 0px;
    }
  }

  .creditsCont {
    position: fixed;
    top: 500px;
    width: 100%;
  }
  .credits {
    width: 10%;
    z-index: 101;
  }
}
