body {
    margin: 0px;
    display: grid;
    height: 100vh; 
    grid-template-rows: auto 15%;
    background-image: url(images/cercleqRouges.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items:center;
    grid-row: 1;
}
#phansiteLogo{
    width: 400px;
}
footer{
    grid-row: 2;
}
.credits{
    color: white;
}
a:link{
 color: greenyellow;
}
.bottomTxt{
    font-family: 'Arsenal';
}