@media screen and (max-width: 768px) {
  body {
      background-image: url(./images/cercleqRougesTst.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; /* Ajuste l'image de fond pour couvrir tout l'écran sans répétition */
      margin: 0;
      height: 100vh;
      width: 100vw;
  }

  header {
      text-align: center;
      margin-top: 20px;
  }

  #phansiteLogo {
      width: 300px;
      display: block;
      margin: 60px auto 20px auto;
  }

  .center-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 100px);
  }
  #dechire {
   display: none; 
  }

  .creditsContainer {
    position: absolute;
    bottom: 25%;
  }

  .credits {
      width: 30%;
      margin: 10px auto;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0px;
    background-image: url(./images/cercleqRougesTst.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .grid {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto auto;
  }
  #phansiteLogo {
    width: 450px;
    margin-top: 60px;
    z-index: 100;
  }
  header {
    align-items: baseline;
    display: flex;
    justify-content: center;
  }
  #dechire {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: welcome 1s cubic-bezier(0.33, 0.98, 0, 1);
  }
  @keyframes welcome {
    from {
      left: 1000px;
    }
    to {
      left: 0px;
    }
  }

  .creditsContainer {
    position: fixed;
    top: 50%;
    width: 100%;
  }
  .credits {
    width: 10%;
    z-index: 101;
  }
}
